name: Diamond_Action
on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *' # تشغيل تلقائي كل 5 دقائق
jobs:
  run_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Python Setup
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install Libs
        run: pip install requests beautifulsoup4 pyTelegramBotAPI
      - name: Run Scraper
        run: python scraper.py
